<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/header.css"> <!-- Link ke file CSS sidebar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="left">
    <h1>Last Gen</h1><h2>|Dashboard</h2> 
  </div>
  <div class="right">
    <div class="time">
      07:30
      <br>
      Senin, 9 Desember 2024
    </div>
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-14c0 1.1-.9 2-2 2h-4c1.1 0 2-.9 2-2zm-6 2c0 1.1-.9 2-2 2h-4c1.1 0 2-.9 2-2zm6-2c0 1.1-.9