<html>
<head>
    <title>Sidebar Navigation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/sidebar.css"> <!-- Link ke file CSS sidebar -->
<div class="sidebar">
    <a href="#"><i class="fas fa-bars"></i></a>
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#" class="active"><i class="fas fa-chart-bar"></i></a>
    <a href="#"><i class="fas fa-cog"></i></a>
    <a href="#"><i class="fas fa-sign-out-alt"></i></a>
</div>
</html>